{% extends "security/base-notco.html.twig" %}

{% block body %}
	<h1 class="h1-welcome">
		<main id="content-welcome">
			Bienvenue sur TaskLinker
		</h1>
		<h2>
			Commencez dès maintenant - gratuitement
		</h2>
		<a href="/login" class="already-account">Vous avez déjà un compte ?</a>
		<a href="/login" class="btn btn-primary btn-welcome">Se connecter</a>
		<div class="or">ou</div>
		<a href="/register" class="btn btn-secondary btn-welcome">S'inscrire</a>
	</main>
{% endblock %}
